# MongoDB implementation using Python with JSON documents

In [1]:
import pymongo

client=pymongo.MongoClient('mongodb://127.0.0.1:27017/')

Student_db=client['College']
student_info=Student_db.StudentInformation

In [3]:
record={
        'firstname':'walter',
        'lastname':'vijayakumar',
        'department':'Mechanical Engineering',
        'qualification':'BE',
        'age':21,
        'sex':'Male'
        }
student_info.insert_one(record)

In [6]:
Student_Records=[{
        'firstname':'Raja',
        'lastname':'kumar',
        'department':'Mechanical Engineering',
        'qualification':'BE',
        'age':21,
        'sex':'Male'
        },
         {
        'firstname':'premkumar',
        'lastname':'vijayakumar',
        'department':'Textile Engineering',
        'qualification':'BTech',
        'age':21,
        'sex':'Male'
        },
        {
        'firstname':'Selvakumar',
        'lastname':'Rajendran',
        'department':'Mechanical Engineering',
        'qualification':'BE',
        'age':21,
        'sex':'Male'
        },
        {
        'firstname':'Muthu',
        'lastname':'raj',
        'department':'Civil Engineering',
        'qualification':'BE',
        'age':21,
        'sex':'Male'
        }]

In [7]:
student_info.insert_many(Student_Records)

## various ways to implement querying like tradtional database query
## select * from StudentInformation

In [8]:
for all_records in student_info.find({}):
    print(all_records)

{'_id': ObjectId('5eec523faad202bebad8797d'), 'firstname': 'walter', 'lastname': 'vijayakumar', 'department': 'Mechanical Engineering', 'qualification': 'BE', 'age': 21, 'sex': 'Male'}
{'_id': ObjectId('5eec5451aad202bebad8797e'), 'firstname': 'Raja', 'lastname': 'kumar', 'department': 'Mechanical Engineering', 'qualification': 'BE', 'age': 21, 'sex': 'Male'}
{'_id': ObjectId('5eec5451aad202bebad8797f'), 'firstname': 'premkumar', 'lastname': 'vijayakumar', 'department': 'Textile Engineering', 'qualification': 'BTech', 'age': 21, 'sex': 'Male'}
{'_id': ObjectId('5eec5451aad202bebad87980'), 'firstname': 'Selvakumar', 'lastname': 'Rajendran', 'department': 'Mechanical Engineering', 'qualification': 'BE', 'age': 21, 'sex': 'Male'}
{'_id': ObjectId('5eec5451aad202bebad87981'), 'firstname': 'Muthu', 'lastname': 'raj', 'department': 'Civil Engineering', 'qualification': 'BE', 'age': 21, 'sex': 'Male'}

## select * from StudentInformation where firstname='walter'

In [9]:
for student_record in student_info.find({'firstname':'walter'}):
    print(student_record)

{'_id': ObjectId('5eec523faad202bebad8797d'), 'firstname': 'walter', 'lastname': 'vijayakumar', 'department': 'Mechanical Engineering', 'qualification': 'BE', 'age': 21, 'sex': 'Male'}

## select * from StudentInformation where qualification in ('be',btech)

In [10]:
for student_record in student_info.find({'qualification':{'$in':['BE','BTech']}}):
    print(student_record)

{'_id': ObjectId('5eec523faad202bebad8797d'), 'firstname': 'walter', 'lastname': 'vijayakumar', 'department': 'Mechanical Engineering', 'qualification': 'BE', 'age': 21, 'sex': 'Male'}
{'_id': ObjectId('5eec5451aad202bebad8797e'), 'firstname': 'Raja', 'lastname': 'kumar', 'department': 'Mechanical Engineering', 'qualification': 'BE', 'age': 21, 'sex': 'Male'}
{'_id': ObjectId('5eec5451aad202bebad8797f'), 'firstname': 'premkumar', 'lastname': 'vijayakumar', 'department': 'Textile Engineering', 'qualification': 'BTech', 'age': 21, 'sex': 'Male'}
{'_id': ObjectId('5eec5451aad202bebad87980'), 'firstname': 'Selvakumar', 'lastname': 'Rajendran', 'department': 'Mechanical Engineering', 'qualification': 'BE', 'age': 21, 'sex': 'Male'}
{'_id': ObjectId('5eec5451aad202bebad87981'), 'firstname': 'Muthu', 'lastname': 'raj', 'department': 'Civil Engineering', 'qualification': 'BE', 'age': 21, 'sex': 'Male'}